body{
    background: yellow;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blok1, .blok2, .blok3, .blok4{
    height: 100px;
    width: 100px;
    background: red;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
}
@media (max-width:1200px){
    .blok1, .blok2, .blok3, .blok4{
        background: green;
    }
}
@media (max-width:900px){
    .blok1, .blok2, .blok3, .blok4{
        background: blue;
    }
}
@media (max-width:768px){
    .blok1, .blok2, .blok3, .blok4{
        background: orange;
    }
}
@media (max-width:450px){
    .blok1, .blok2, .blok3, .blok4{
        background: aquamarine;
    }
}