body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    padding: 6px 9px;
    display: flex;
    justify-content: center;
    max-width: 300px;
    border-radius: 10px;
}
.circle{
    height: 40px;
    width: 40px;
    margin: 1px 5px;
    border-radius: 5px;
}
.progress{
    transform: scale(1.2);
    background-color: yellow;
}